body {
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
}

article {
    padding-left: 30px;
    float: left;
    width: 65%;
    color: rgb(51, 51, 51);
}

img {
    width: 100%;
}

aside {
    float: right;
    width: 30%;
}