/.idea/
/09-exams/2020-11-01/03-fees-landing-page/screenshot.png
/09-exams/2020-11-01/03-fees-landing-page/text.txt
/09-exams/2020-08-12/02-photography/screenshots/
/09-exams/2020-08-12/01-simple-articles/
/09-exams/2020-08-12/03-certificates-landing-page/screenshot.png
/09-exams/2020-08-12/03-certificates-landing-page/text.txt
/09-exams/2021-02-28/01-blog-articles/01. Blog Articles.docx
/09-exams/2021-02-28/01-blog-articles/screenshot.png
/09-exams/2021-02-28/01-blog-articles/text.txt
/09-exams/2021-02-28/01-blog-articles/~$. Blog Articles.docx
/09-exams/2021-02-28/02-html&css/screenshots/
/09-exams/2021-02-28/02-html&css/02. HTML&CSS.docx
/09-exams/2021-02-28/03-kids-trainers/screenshots/screenshot.png
/09-exams/2021-02-28/03-kids-trainers/03. Kids Trainers.docx
/09-exams/2021-02-28/03-kids-trainers/text.txt
