/.idea/
/09-exams/2020-11-01/03-fees-landing-page/screenshot.png
/09-exams/2020-11-01/03-fees-landing-page/text.txt
/09-exams/2020-08-12/02-photography/screenshots/
/09-exams/2020-08-12/01-simple-articles/
