body {
    display: flex;
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    flex-basis: 100%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

header h1 {
    text-transform: uppercase;
    padding: 0 20px;
}

main {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 0 20px;
}

footer {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    flex-basis: 100%;
    padding: 5px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
