html, * {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 40px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    flex-wrap: wrap;
}

header h1 {
    text-transform: uppercase;
    font-size: 32px;
}

header nav ul {
    display: flex;
    list-style: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

header nav ul li {
    margin: 5px;
    padding: 10px;
    background-color: #1F1F1F;
    border-radius: 5px;
    font-size: 16px
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 660px) {

    header {
        flex-direction: column;
        align-items: stretch;
        border-bottom: none;
    }

    header nav ul {
        flex-direction: column;
        border-top: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        border-radius: unset;
    }

    .menu {
        display: block;
        text-align: center;
    }
}