html {
    margin: 0;
    padding: 0;
}


.gallery {
    width: 90%;
    margin: auto;
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    border: 0.4rem solid black;
    display: inline-block;
    text-align: center;
    list-style: none;
    vertical-align: middle;
    margin: 10px;
}

img {
    max-width: 250px;
    padding: 10px;
}

