html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 100;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}