.advantages {
    display: flex;
    flex-wrap: wrap;
}

.advantages article {
    display: flex;
    align-items: center;
    border-bottom: 8px solid #222222;
    background-color: black;
    padding: 50px;
}

.advantages article .text {
    z-index: 1;
    color: white;
    padding: 50px;
}

.advantages article img {
    height: 80%;
}

.advantages article:nth-child(2) img {
    order: 1;
}

.advantages article:nth-child(2) div {
    order: 2;
}