.advantages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.advantages article {
    display: flex;
    align-items: center;
    border-bottom: 8px solid #222222;
    background-color: black;
    padding: 50px;
    box-sizing: border-box;
}

.advantages article .text {
    z-index: 1;
    color: white;
    padding: 50px;
    flex-basis: 50%;
}

.advantages article img {
    max-width: 50%;
}

.advantages article:nth-child(2) img {
    order: 1;
}

.advantages article:nth-child(2) div {
    order: 2;
}


@media screen and (max-width : 768px) {
    .advantages article {
        flex-direction: column;
    }

    .advantages article img {
        max-width: 80%;
    }

    .advantages article:nth-child(2) img {
        order: 2;
    }

    .advantages article:nth-child(2) div {
        order: 1;
    }

}