html {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

tr:nth-child(odd),
tr:nth-child(odd) td{
    background-color: rgb(241, 241, 241);
}

table, td, th {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

td {
    width: 200px;
    padding: 3px;
}

th {
    background-color: #CCC;
    text-align: left;
    padding: 3px;
}

table {
    border-collapse: collapse;
}

tr:hover td {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}